{% extends '../templates/base.twig' %}

{% block container %}

    {% if message %}
        <div class="row col s5">
            <div>{{ message | raw }}</div>
        </div>
    {% endif %}

    <div class="row">
        <h5>Selected guild: {{ guild.getName() }}</h5>
        <a href="/server/{{ guild.getIdLong() }}/">Go back</a>
    </div>
    <div class="row">
        <form class="col s12" method="post">
            {# Basic settings #}
            <div class="row section">
                <h6>Basic settings:</h6> <br/>

                <div class="input-field col s12 m1">
                    <input placeholder="db!" id="prefix" name="prefix" type="text"
                           value="{{ settings.getCustomPrefix() }}" required>
                    <label for="prefix">Prefix</label>
                </div>

                {# Welcome/Leave #}
                <div class="input-field col s12 m3">
                    <select id="welcomeChannel" name="welcomeChannel"
                            onchange="checkSelect(this.id, 'welcomeChannelCB');">
                        <option value="" selected disabled>Select a channel</option>
                        {% for textChannel in goodChannels %}
                            {% if settings.getWelcomeLeaveChannel() == textChannel.getIdLong() %}
                                <option value="{{ textChannel.getId() }}" selected>#{{ textChannel.getName() }}</option>
                            {% else %}
                                <option value="{{ textChannel.getId() }}">#{{ textChannel.getName() }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="welcomeChannel">Welcome/Leave Channel</label>
                    <!-- Switch -->
                    <div class="switch">
                        State:
                        <label>
                            Disabled
                            <input type="checkbox" name="welcomeChannelCB" id="welcomeChannelCB"
                                   {% if settings.isEnableJoinMessage() %}checked="checked"{% endif %}>
                            <span class="lever"></span>
                            Enabled
                        </label>
                    </div>
                </div>

                {# Autorole #}
                <div class="input-field col s12 m3">
                    <select id="autoRoleRole" name="autoRoleRole" onchange="checkSelect(this.id, 'autoRoleRoleCB');">
                        <option value="" selected disabled>Select a role</option>
                        {% for role in goodRoles %}
                            {% if settings.getAutoroleRole() == role.getIdLong() %}
                                <option value="{{ role.getId() }}" selected>@{{ role.getName() }}</option>
                            {% else %}
                                <option value="{{ role.getId() }}">@{{ role.getName() }}</option>
                            {% endif %}
                        {% endfor %}
                        <option value="">Disable</option>
                    </select>
                    <label for="autoRoleRole">AutoRole</label>
                    <!-- Switch -->
                    <div class="switch">
                        State:
                        <label>
                            Disabled
                            <input type="checkbox" name="autoRoleRoleCB" id="autoRoleRoleCB"
                                   {% if settings.isAutoroleEnabled() %}checked="checked"{% endif %} disabled>
                            <span class="lever"></span>
                            Enabled
                        </label>
                    </div>
                </div>

                {# Other boolean flags #}
                <div class="input-field col s12 m3">
                    <div class="switch">
                        Announce tracks:
                        <label>
                            Disabled
                            <input type="checkbox" name="announceTracks" id=""
                                   {% if settings.isAnnounceTracks() %}checked="checked"{% endif %}>
                            <span class="lever"></span>
                            Enabled
                        </label>
                    </div>
                </div>

                <div class="input-field col s12 m3">

                    <input type="color" style="display: none;" id="embedColor" name="embedColor"
                           onchange="_('embedPreview').style.background = this.value;" value="{{ guildColor }}" />

                    <button type="button" id="embedPreview" onclick="_('embedColor').click()"
                            class="btn-large waves-effect waves-light waves-ripple white-text" style="background: {{ guildColor }};">
                        Change embed color
                    </button>

                </div>

            </div>

            <div class="row">
                <div class="divider"></div>
            </div>

            <button type="submit" class="btn waves-effect waves-light waves-ripple blue accent-4 white" value="submit">
                Save
            </button>
        </form>
    </div>


{% endblock %}

{% block script %}
    <script>
        M.FormSelect.init(document.querySelectorAll('select'));

        function checkSelect(selectId, checkBox) {
            let box = _(checkBox);
            let select = _(selectId);
            if (select.value) {
                box.checked = true;
                box.disabled = false;
            } else {
                box.checked = false;
                box.disabled = true;
            }
        }
    </script>
{% endblock %}
