{% extends '../templates/base.twig' %}

{% block container %}

    <div class="row">
        <h5>Selected guild: {{ guild.getName() }}</h5>
        <a href="/server/{{ guild.getIdLong() }}/">Go back</a>
    </div>
    <div class="row">
        <form class="col s12" method="post">
            {# Spam filter #}
            <div class="row section">
                <h6>Moderation:</h6> <br/>

                {# Modlog #}
                <div class="input-field col s12 m2">
                    <select id="modChannel" name="modChannel">
                        <option value="" disabled selected>Select a channel</option>
                        {% for textChannel in goodChannels %}
                            {% if settings.getLogChannel() == textChannel.getIdLong() %}
                                <option value="{{ textChannel.getIdLong() }}" selected>
                                    #{{ textChannel.getName() }}</option>
                            {% else %}
                                <option value="{{ textChannel.getIdLong() }}">#{{ textChannel.getName() }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="modChannel">ModLog Channel</label>
                </div>

                {# Other boolean flags #}

                <div class="switch">
                    Auto de-hoist:
                    <label>
                        Disabled
                        <input type="checkbox" name="autoDeHoist" id=""
                               {% if settings.isAutoDeHoist() %}checked="checked"{% endif %}>
                        <span class="lever"></span>
                        Enabled
                    </label>
                </div>

                <div class="switch">
                    Filter invites:
                    <label>
                        Disabled
                        <input type="checkbox" name="filterInvites" id=""
                               {% if settings.isFilterInvites() %}checked="checked"{% endif %}>
                        <span class="lever"></span>
                        Enabled
                    </label>
                </div>

                <div class="switch">
                    Swearword filter:
                    <label>
                        Disabled
                        <input type="checkbox" name="swearFilter" id=""
                               {% if settings.isEnableSwearFilter() %}checked="checked"{% endif %}>
                        <span class="lever"></span>
                        Enabled
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="divider"></div>
            </div>

            <div class="row section">

                {# Mute role #}
                <div class="input-field col s12 m3">
                    <select id="muteRole" name="muteRole" {#onchange="checkSelect(this.id, 'autoRoleRoleCB');"#}>
                        <option value="" selected disabled>Select a role</option>
                        {% for role in goodRoles %}
                            {% if settings.getMuteRoleId() == role.getIdLong() %}
                                <option value="{{ role.getIdLong() }}" selected>@{{ role.getName() }}</option>
                            {% else %}
                                <option value="{{ role.getIdLong() }}">@{{ role.getName() }}</option>
                            {% endif %}
                        {% endfor %}
                        <option value="">Disable</option>
                    </select>
                    <label for="muteRole">Mute role</label>
                </div>

                {# Kick mode #}
                <div class="input-field col s12 m4">

                    <div class="switch">
                        Toggle spam filter:
                        <label>
                            Disabled
                            <input type="checkbox" name="spamFilter" id=""
                                   {% if settings.isEnableSpamFilter() %}checked="checked"{% endif %}>
                            <span class="lever"></span>
                            Enabled
                        </label>
                    </div>

                    <!-- Switch -->
                    <div class="switch">
                        Kick mode:
                        <label>
                            Mute members
                            <input type="checkbox" name="kickMode" id="kickMode"
                                   {% if settings.getKickState() %}checked="checked"{% endif %}>
                            <span class="lever"></span>
                            Kick members
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="divider"></div>
            </div>

            <div class="row section">
                <div class="col s6">
                    <h6>Ratelimits:</h6>
                    <p>The following values indicate the mutes duration in minutes for incrementing amount of
                        violations
                    </p>
                    <br/>
                    {% for i,r in settings.getRateLimitsForTwig() %}
                        <div class="input-field col s12 m2">
                            <input type="number" name="rateLimits[{{ i }}]" value="{{ r }}" min="1" max="1000000" required/>
                        </div>
                    {% endfor %}
                </div>

                <div class="col s6">
                    <h6>Spam threshold:</h6>
                    <p>This value indicates how many messages must have been sent before the bot considers it as
                        spam</p>
                    <br>

                    <div>
                        Moderate for spam if a user has sent more than
                        <div class="input-field inline">
                            <input type="number" name="spamThreshold" value="{{ settings.getSpamThreshold() }}" min="1"
                                   max="99" required/>
                        </div>
                        messages
                    </div>
                </div>
            </div>

            <button type="submit" class="btn waves-effect waves-light waves-ripple blue accent-4 white" value="submit">
                Save
            </button>
        </form>
    </div>

{% endblock %}

{% block script %}
    <script>
        M.FormSelect.init(document.querySelectorAll('select'));
    </script>
{% endblock %}
